services:
  agent:
    image: apollo/agent:dev
    environment:
      APOLLO_GATEWAY_URL: ${APOLLO_GATEWAY_URL:-http://host.docker.internal:18080}
    privileged: true
    tmpfs:
      - /run
      - /run/lock
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    network_mode: bridge
    extra_hosts:
      - "host.docker.internal:host-gateway"
    stop_signal: SIGRTMIN+3
