version: "3.9"

services:
  manager:
    build: ./manager
    ports:
      - "8080:8080"

  # Servers
  server1:
    build: ./agent
    command: ["praetor-agent-server", "--device-id=server1", "--manager-address=http://manager:8080"]
    depends_on:
      - manager
  server2:
    build: ./agent
    command: ["praetor-agent-server", "--device-id=server2", "--manager-address=http://manager:8080"]
    depends_on:
      - manager

  # Network Switches
  switch1:
    build: ./agent
    command: ["praetor-agent-switch", "--device-id=switch1", "--manager-address=http://manager:8080"]
    depends_on:
      - manager
  switch2:
    build: ./agent
    command: ["praetor-agent-switch", "--device-id=switch2", "--manager-address=http://manager:8080"]
    depends_on:
      - manager

  # DPUs
  dpu1:
    build: ./agent
    command: ["praetor-agent-dpu", "--device-id=dpu1", "--manager-address=http://manager:8080"]
    depends_on:
      - manager
  dpu2:
    build: ./agent
    command: ["praetor-agent-dpu", "--device-id=dpu2", "--manager-address=http://manager:8080"]
    depends_on:
      - manager

  # SOCs
  soc1:
    build: ./agent
    command: ["praetor-agent-soc", "--device-id=soc1", "--manager-address=http://manager:8080"]
    depends_on:
      - manager
  soc2:
    build: ./agent
    command: ["praetor-agent-soc", "--device-id=soc2", "--manager-address=http://manager:8080"]
    depends_on:
      - manager

  # BMCs
  bmc1:
    build: ./agent
    command: ["praetor-agent-bmc", "--device-id=bmc1", "--manager-address=http://manager:8080"]
    depends_on:
      - manager
  bmc2:
    build: ./agent
    command: ["praetor-agent-bmc", "--device-id=bmc2", "--manager-address=http://manager:8080"]
    depends_on:
      - manager

  # Simulators
  sim1:
    build: ./agent
    command: ["praetor-agent-simulator", "--device-id=sim1", "--manager-address=http://manager:8080"]
    depends_on:
      - manager
  sim2:
    build: ./agent
    command: ["praetor-agent-simulator", "--device-id=sim2", "--manager-address=http://manager:8080"]
    depends_on:
      - manager
