apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: apollo-deviceprocess-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - events
  - secrets
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - azure.com
  resources:
  - deviceprocesses
  - deviceprocessdeployments
  verbs:
  - create
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - azure.com
  resources:
  - deviceprocesses/status
  - deviceprocessdeployments/status
  verbs:
  - get
  - update
  - patch
