apiVersion: azure.com/v1alpha1
kind: DeviceProcess
metadata:
  name: systemd-log-forwarder
spec:
  deviceRef:
    kind: Server
    name: compute-01
  artifact:
    type: oci
    url: ghcr.io/example/log-forwarder:1.2.3
    checksumSHA256: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
  execution:
    backend: systemd
    command:
    - /usr/local/bin/log-forwarder
    args:
    - --config=/etc/log-forwarder.yaml
    env:
    - name: LOG_LEVEL
      value: info
    workingDir: /var/lib/log-forwarder
  restartPolicy: Always
  healthCheck:
    exec:
      command:
      - /usr/local/bin/log-forwarder
      - healthcheck
    periodSeconds: 30
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
