apiVersion: azure.com/v1alpha1
kind: DeviceProcessDeployment
metadata:
  name: firmware-upgrade
spec:
  selector:
    matchLabels:
      site: sfo
      role: tor
  template:
    metadata:
      labels:
        app: firmware-upgrade
        site: sfo
        role: tor
    spec:
      artifact:
        type: oci
        url: localhost:5000/log-forwarder@sha256:REPLACE_ME
      execution:
        backend: systemd
        command:
        - payload/bin/log-forwarder
        args:
        - --config=payload/config/log-forwarder.yaml
        env:
        - name: APOLLO_DEVICE_NAME
          value: ${APOLLO_DEVICE_NAME}
      restartPolicy: Always
